<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Myページ　企業ブックマーク一覧｜就職ナビ+ 【就職ナビプラス】-学生向け就職情報サイト-</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="img/common/favicon-16x16.ico" sizes="16x16">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="img/common/favicon-32x32.ico" sizes="32x32">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="img/common/favicon-96x96.ico" sizes="96x96">
<meta name="keywords" content="">
<meta name="description" content="">

<meta property="og:title" content="Myページ　企業ブックマーク一覧｜就職ナビ+ 【就職ナビプラス】-学生向け就職情報サイト-" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://xxxxxxxxxxxxxxxx" />
<meta property="og:image" content="img/common/ogp.jpg" />
<link href="css/reset.css" rel="stylesheet" type="text/css" media="screen">
<link href="css/style.css" rel="stylesheet" type="text/css" media="screen">
<link href="css/my_style.css" rel="stylesheet" type="text/css" media="screen">
<link rel="stylesheet" href="css/my_entry.css" type="text/css">
<link href="css/slick-theme.css" rel="stylesheet" type="text/css">
<link href="css/slick.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/slicknav.css" />

<script src="js/jquery-2.2.1.min.js"></script>

<script type="text/javascript">
// responsive
var s = document.createElement("script");
s.type = "text/javascript";
$(function(){
// Window width default
var egwidth = $(window).width();
if (egwidth <= 767) {
//alert('sp'+egwidth);
s.src = "./js/sp.js";
document.getElementsByTagName("head")[0].appendChild(s);
} else if (egwidth > 768) {
//alert('pc'+egwidth);
s.src = "./js/pc.js";
document.getElementsByTagName("head")[0].appendChild(s);
}

// Window width resize with pc
var timer = false;
$(window).resize(function() {
if (timer !== false) {
clearTimeout(timer);
}
timer = setTimeout(function() {
var egwidth = $(window).width();
if (egwidth <= 767) {
s.src = "./js/sp.js";
document.getElementsByTagName("head")[0].appendChild(s);
//alert('sp'+egwidth);
} else if (egwidth > 768) {
s.src = "./js/pc.js";
document.getElementsByTagName("head")[0].appendChild(s);
//alert('pc'+egwidth);
}
}, 200);
});
});
</script>

<script src="js/slick.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.matchHeight-min.js"></script>
<script src="js/jquery.mobile.custom.min.js"></script>

<script>
$(function(){
$('.js-matchHeight').matchHeight();
});
</script>

</head>

<body>
<div id="wrapper">
<div id="mobile-menu"></div>
<header id="topHead"  data-role="header" data-position="fixed">
<h1><a href="index.html"><img src="img/pc/common/logo.png" alt="就職ナビ+　2017"   /></a></h1>

<div class="headrBtn clearfix">
<div><a href="logout.html"><img src="img/pc/common/logout.png" alt="ログアウ  ト"/></a></div>
</div>

<!--  pcnNav -->
<div class="menu-container pcOnly">
<div class="menu">
<ul>
<li><a href="#" class="rds"><i class="fa fa-bars">MENU</i></a>
<ul>

<li><p>企業検索</p>
<ul>
<li><a href="search.html">企業検索</a></li>
</ul>
</li>

<li><p>会員メニュー</p>
<ul>
<li><a href="my_entry.html">スケジュール管理</a></li>
<li><a href="my_inbox.html">連絡帳</a></li>
<li><a href="my_bookmark.html">ブックマーク</a></li>
<li><a href="my_regist.html">会員情報管理</a></li>
</ul>
</li>

<li><p>就活支援</p>
<ul>
<li><a href="interview.html">就活スケジュール</a></li>
<li><a href="know.html">就活成功へのステップ</a></li>
</ul>
</li>

<li><p>ヘルプ</p>
<ul>
<li><a href="guide.html">就職ナビ＋の使い方</a></li>
<li><a href="faq.html">FAQ</a></li>
</ul>
</li>

<li><p>お問い合わせ</p>
<ul>
<li><a href="my_contact_form.html">お問い合わせ</a></li>
</ul>
</li>


</ul>
</li>
</ul>
</div>
</div>
<!--  /pcnNav -->

<!--  spnNav -->
<div class="menu-container spOnly">
<div class="menu">
<ul>

<li><a href="logout.html">ログアウト</a></li>

<li><p>企業検索</p>
<ul>
<li><a href="search.html">企業検索</a></li>
</ul>
</li>

<li><p>会員メニュー</p>
<ul>
<li><a href="my_entry.html">スケジュール管理</a></li>
<li><a href="my_inbox.html">連絡帳</a></li>
<li><a href="my_bookmark.html">ブックマーク</a></li>
<li><a href="my_regist.html">会員情報管理</a></li>
</ul>
</li>

<li><p>就活支援</p>
<ul>
<li><a href="interview.html">就活スケジュール</a></li>
<li><a href="know.html">就活成功へのステップ</a></li>
</ul>
</li>

<li><p>ヘルプ</p>
<ul>
<li><a href="guide.html">就職ナビ＋の使い方</a></li>
<li><a href="faq.html">FAQ</a></li>
</ul>
</li>

<li><p>お問い合わせ</p>
<ul>
<li><a href="my_contact_form.html">お問い合わせ</a></li>
</ul>
</li>

</ul>
</div>
</div>
<!--  /spnNav -->
</header>

<div class="container">
    <article>
        <form>
            <div class="my_name_area">就職　太郎さんの企業ブックマーク</div>
            <div class="my_contents_flame">
                <div class="my_title"><i class="fa fa-bookmark" aria-hidden="true"></i>企業ブックマーク</div>
                
                <table class="schedule_list_table book_mark pcOnly">			<!--pc用スケジュール一覧テーブル-->
                	<thead>
                        <tr>
                            <th class="th1"></th>
                            <th class="th2">会社名</th>
                            <th class="th3">企業形態</th>
                            <th class="th10">業種</th>
                            <th class="th5">職種</th>
                            <th class="th6">本社</th>
                            <th class="th11">採用予定数</th>
                            <th class="th9 right">応募済</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="check"><input type="checkbox"></td>
                            <td><a href="123456789entry.html">株式会社○○○○</a></td>
                            <td>東証一部上場</td>
                            <td>接客・サービス</td>
                            <td>営業</td>
                            <td>新橋</td>
                            <td>10名</td>
                            <td class="right check">○</td>
                        </tr>
                        <tr>
                            <td class="check"><input type="checkbox"></td>
                            <td><a href="123456789entry.html">株式会社○○○○</a></td>
                            <td>東証一部上場</td>
                            <td>接客・サービス</td>
                            <td>営業</td>
                            <td>新橋</td>
                            <td>10名</td>
                            <td class="right check">○</td>
                        </tr>
                        <tr>
                            <td class="check"><input type="checkbox"></td>
                            <td><a href="123456789entry.html">株式会社○○○○</a></td>
                            <td>東証一部上場</td>
                            <td>接客・サービス</td>
                            <td>営業</td>
                            <td>新橋</td>
                            <td>10名</td>
                            <td class="right check">　</td>
                        </tr>
                        <tr>
                            <td class="check"><input type="checkbox"></td>
                            <td><a href="123456789entry.html">株式会社○○○○</a></td>
                            <td>東証一部上場</td>
                            <td>接客・サービス</td>
                            <td>営業</td>
                            <td>新橋</td>
                            <td>10名</td>
                            <td class="right check">　</td>
                        </tr>
                    </tbody>
                </table>
                
				
                <div class="schedule_list_contents spOnly">			<!--sp用企業ブックマークテーブル-->
                    <div class="contents_title"><input type="checkbox"><a href="123456789entry.html">株式会社○○○○</a></div>
                    <table class="schedule_list_table spOnly">
                        <tr>
                            <th class="thsp">企業形態</th>
                            <td>東証一部上場</td>
                        </tr>
                        <tr>
                            <th>業種</th>
                            <td>接客・サービス</td>
                        </tr>
                        <tr>
                            <th>職種</th>
                            <td>営業</td>
                        </tr>
                        <tr>
                        	<th>本社</th>
                        	<td>新橋</td>
                        </tr>
                        <tr>
                            <th>採用予定数</th>
                            <td>10名</td>
                        </tr>
                        <tr>
                            <th>応募済み</th>
                            <td>○</td>
                        </tr>
                    </table>
               	</div>
                
                <div class="schedule_list_contents spOnly">			<!--sp用企業ブックマークテーブル-->
                    <div class="contents_title"><input type="checkbox"><a href="123456789entry.html">株式会社○○○○</a></div>
                    <table class="schedule_list_table spOnly">
                        <tr>
                            <th class="thsp">企業形態</th>
                            <td>東証一部上場</td>
                        </tr>
                        <tr>
                            <th>業種</th>
                            <td>接客・サービス</td>
                        </tr>
                        <tr>
                            <th>職種</th>
                            <td>営業</td>
                        </tr>
                        <tr>
                        	<th>本社</th>
                        	<td>新橋</td>
                        </tr>
                        <tr>
                            <th>採用予定数</th>
                            <td>10名</td>
                        </tr>
                        <tr>
                            <th>応募済み</th>
                            <td>○</td>
                        </tr>
                    </table>
               	</div>
                
                <div class="schedule_list_contents spOnly">			<!--sp用企業ブックマークテーブル-->
                    <div class="contents_title"><input type="checkbox"><a href="123456789entry.html">株式会社○○○○</a></div>
                    <table class="schedule_list_table spOnly">
                        <tr>
                            <th class="thsp">企業形態</th>
                            <td>東証一部上場</td>
                        </tr>
                        <tr>
                            <th>業種</th>
                            <td>接客・サービス</td>
                        </tr>
                        <tr>
                            <th>職種</th>
                            <td>営業</td>
                        </tr>
                        <tr>
                        	<th>本社</th>
                        	<td>新橋</td>
                        </tr>
                        <tr>
                            <th>採用予定数</th>
                            <td>10名</td>
                        </tr>
                        <tr>
                            <th>応募済み</th>
                            <td>○</td>
                        </tr>
                    </table>
               	</div>
                
                <div class="schedule_list_contents spOnly">			<!--sp用企業ブックマークテーブル-->
                    <div class="contents_title"><input type="checkbox"><a href="123456789entry.html">株式会社○○○○</a></div>
                    <table class="schedule_list_table spOnly">
                        <tr>
                            <th class="thsp">企業形態</th>
                            <td>東証一部上場</td>
                        </tr>
                        <tr>
                            <th>業種</th>
                            <td>接客・サービス</td>
                        </tr>
                        <tr>
                            <th>職種</th>
                            <td>営業</td>
                        </tr>
                        <tr>
                        	<th>本社</th>
                        	<td>新橋</td>
                        </tr>
                        <tr>
                            <th>採用予定数</th>
                            <td>10名</td>
                        </tr>
                        <tr>
                            <th>応募済み</th>
                            <td>○</td>
                        </tr>
                    </table>
               	</div>
                
                <div class="check_change_box">
                
                	
                    <a class="pcOnly bookmark_button" href="#"><img src="img/pc/common/book_mark_choice.png" alt="全て選択"/></a>
                    <a class="pcOnly bookmark_button" href="#"><img src="img/pc/common/book_mark_release.png" alt="解除"/></a>
                    <a class="pcOnly bookmark_button gray" href="my_bookmark_delete_check.html"><img src="img/pc/common/book_mark_del.png" alt="削除"/></a>
                	<a class="spOnly bookmark_button" href="#"><img src="img/sp/common/book_mark_choice.png" alt="全て選択"/></a>
                    <a class="spOnly bookmark_button" href="#"><img src="img/sp/common/book_mark_release.png" alt="解除"/></a>
                    <a class="spOnly bookmark_button" href="my_bookmark_delete_check.html"><img src="img/sp/common/book_mark_del.png" alt="削除"/></a>
                    
            	</div>
                
                <div class="pager pcOnly">			<!--PC用ページャー-->
                    <a class="back_next" href="#">＜前へ</a>
                    <a class="count_number" href="#">1</a>
                    <a class="count_number" href="#">2</a>
                    <a class="count_number" href="#">3</a>
                    <a class="count_number" href="#">4</a>
                    <a class="count_number" href="#">5</a>
                    <a class="count_number" href="#">6</a>
                    <a class="count_number" href="#">7</a>
                    <a class="count_number" href="#">8</a>
                    <a class="count_number" href="#">9</a>
                    <a class="count_number" href="#">10</a>
                    <span class="dot">・・・</span>
                    <a class="count_number" href="#">15</a>
                    <a class="back_next" href="#">次へ＞</a>
                </div>
                
              <div class="sp_pager spOnly">		<!--スマホ用ページャー-->
                    <div class="sp_pager_back"><a href="#"><img src="img/sp/my_entry/sp_next_button.png" alt=""/></a></div>
                    <div class="sp_pager_count">30/30</div>
                    <div class="sp_pager_next"><a href="#"><img src="img/sp/my_entry/sp_back_button.png" alt=""/></a></div>
                </div>
                
                </div>
                </form>
                </article>
            </div>

</div>
<footer>
<section class="innr">



<nav class="clearfix">
<div>
<h4><p>■企業検索</p></h4>
<ul>
<li><a href="search.html">企業検索</a></li>
</ul>
</div>

<div>
<h4><p>■会員メニュー</p></h4>
<ul>
<li><a href="my_entry.html">スケジュール管理</a></li>
<li><a href="my_inbox.html">連絡帳</a></li>
<li><a href="my_bookmark.html">ブックマーク</a></li>
<li><a href="my_regist.html">会員情報管理</a></li>
</ul>
</div>

<div>
<h4><p>■就活支援</p></h4>
<ul>
<li><a href="interview.html">就活スケジュール</a></li>
<li><a href="know.html">就活成功へのステップ</a></li>
</ul>
</div>

<div>
<h4><p>■ヘルプ</p></h4>
<ul>
<li><a href="guide.html">就職ナビ＋の使い方</a></li>
<li><a href="faq.html">FAQ</a></li>
</ul>
</div>

<div>
<h4><p>■お問い合わせ</p></h4>
<ul>
<li><a href="my_contact_form.html">お問い合わせ</a></li>
</ul>
</div>
</nav>
</section>


<section class="copyright down">

<nav class="clearfix down2">

<div>
<ul>
<li><a href="about.html">運営会社</a></li>
</ul>
</div>

<div>
<ul>
<li><a href="terms.html">利用規約</a></li>
</ul>
</div>

<div>
<ul>
<li><a href="privacy.html">プライバシーポリシー</a></li>
</ul>
</div>

<div>
<ul>
<li><a href="sitemap.html">サイトマップ</a></li>
</ul>
</div>

<div>
<ul>
<li><a href="#">企業の採用担当の方はこちら</a></li>
</ul>
</div>

</nav>


<div class="footerSp spOnly">
<p><a href="about.html">運営会社</a></p>
<p><a href="terms.html">利用規約</a></p>
<p><a href="privacy.html">プライバシーポリシー</a></p>
<p><a href="sitemap.html">サイトマップ</a></p>
<p><a href="#">企業担当者の方はこちら</a></p>
</div>


<p>©2016 就職ナビ＋</p>
</section>
</footer>
<div class="pagetop">
<a href="#wrapper"><img src="img/pc/search_list/top_back.png" alt="上へ戻る" width="64" height="64" /></a>
</div>
</body>
</html>