<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Myページ｜就職ナビ+ 【就職ナビプラス】-学生向け就職情報サイト-</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="img/common/favicon-16x16.ico" sizes="16x16">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="img/common/favicon-32x32.ico" sizes="32x32">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="img/common/favicon-96x96.ico" sizes="96x96">
<meta name="keywords" content="">
<meta name="description" content="">

<meta property="og:title" content="Myページ｜就職ナビ+ 【就職ナビプラス】-学生向け就職情報サイト-" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://xxxxxxxxxxxxxxxx" />
<meta property="og:image" content="img/common/ogp.jpg" />
<link href="css/reset.css" rel="stylesheet" type="text/css" media="screen">
<link href="css/style.css" rel="stylesheet" type="text/css" media="screen">
<link rel="stylesheet" href="css/top.css" type="text/css">
<link rel="stylesheet" href="css/my_page.css" type="text/css">
<link href="css/slick-theme.css" rel="stylesheet" type="text/css">
<link href="css/slick.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/slicknav.css" />
<link href="colorbox/design3/colorbox.css" rel="stylesheet" type="text/css" />

<script src="js/jquery-2.2.1.min.js"></script>
<script src="colorbox/jquery.colorbox-min.js"></script>
<script src="colorbox/jquery.colorbox-ja.js"></script>

<script>
   $(document).ready(function(){
      $(".iframe").colorbox({
		  iframe:true,
		  width:"610px",
		  height:"100%",
		  fixed:true,
		  maxWidth:'100%'
		});
   });

</script>

<script type="text/javascript">
// responsive
var s = document.createElement("script");
s.type = "text/javascript";
$(function(){
// Window width default
var egwidth = $(window).width();
if (egwidth <= 767) {
//alert('sp'+egwidth);
s.src = "./js/sp.js";
document.getElementsByTagName("head")[0].appendChild(s);
} else if (egwidth > 768) {
//alert('pc'+egwidth);
s.src = "./js/pc.js";
document.getElementsByTagName("head")[0].appendChild(s);
}

// Window width resize with pc
var timer = false;
$(window).resize(function() {
if (timer !== false) {
clearTimeout(timer);
}
timer = setTimeout(function() {
var egwidth = $(window).width();
if (egwidth <= 767) {
s.src = "./js/sp.js";
document.getElementsByTagName("head")[0].appendChild(s);
//alert('sp'+egwidth);
} else if (egwidth > 768) {
s.src = "./js/pc.js";
document.getElementsByTagName("head")[0].appendChild(s);
//alert('pc'+egwidth);
}
}, 200);
});
});
</script>

<script src="js/slick.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.matchHeight-min.js"></script>
<script src="js/jquery.mobile.custom.min.js"></script>

<script src="js/jquery.easing.1.3.js"></script>

<script>
$(function(){
$('.js-matchHeight').matchHeight();
});
</script>

</head>

<body>
<div id="wrapper">
<div id="mobile-menu"></div>
<header id="topHead"  data-role="header" data-position="fixed">
<h1><a href="index.html"><img src="img/pc/common/logo.png" alt="就職ナビ+　2017"   /></a></h1>

<div class="headrBtn clearfix">
<div><a href="logout.html"><img src="img/pc/common/logout.png" alt="ログアウ  ト"/></a></div>
</div>

<!--  pcnNav -->
<div class="menu-container pcOnly">
<div class="menu">
<ul>
<li><a href="#" class="rds"><i class="fa fa-bars">MENU</i></a>
<ul>

<li><p>企業検索</p>
<ul>
<li><a href="search.html">企業検索</a></li>
</ul>
</li>

<li><p>会員メニュー</p>
<ul>
<li><a href="my_entry.html">スケジュール管理</a></li>
<li><a href="my_inbox.html">連絡帳</a></li>
<li><a href="my_bookmark.html">ブックマーク</a></li>
<li><a href="my_regist.html">会員情報管理</a></li>
</ul>
</li>

<li><p>就活支援</p>
<ul>
<li><a href="interview.html">就活スケジュール</a></li>
<li><a href="know.html">就活成功へのステップ</a></li>
</ul>
</li>

<li><p>ヘルプ</p>
<ul>
<li><a href="guide.html">就職ナビ＋の使い方</a></li>
<li><a href="faq.html">FAQ</a></li>
</ul>
</li>

<li><p>お問い合わせ</p>
<ul>
<li><a href="my_contact_form.html">お問い合わせ</a></li>
</ul>
</li>


</ul>
</li>
</ul>
</div>
</div>
<!--  /pcnNav -->

<!--  spnNav -->
<div class="menu-container spOnly">
<div class="menu">
<ul>

<li><a href="logout.html">ログアウト</a></li>

<li><p>企業検索</p>
<ul>
<li><a href="search.html">企業検索</a></li>
</ul>
</li>

<li><p>会員メニュー</p>
<ul>
<li><a href="my_entry.html">スケジュール管理</a></li>
<li><a href="my_inbox.html">連絡帳</a></li>
<li><a href="my_bookmark.html">ブックマーク</a></li>
<li><a href="my_regist.html">会員情報管理</a></li>
</ul>
</li>

<li><p>就活支援</p>
<ul>
<li><a href="interview.html">就活スケジュール</a></li>
<li><a href="know.html">就活成功へのステップ</a></li>
</ul>
</li>

<li><p>ヘルプ</p>
<ul>
<li><a href="guide.html">就職ナビ＋の使い方</a></li>
<li><a href="faq.html">FAQ</a></li>
</ul>
</li>

<li><p>お問い合わせ</p>
<ul>
<li><a href="my_contact_form.html">お問い合わせ</a></li>
</ul>
</li>

</ul>
</div>
</div>
<!--  /spnNav -->
</header>
<div class="container">
<article>
<p class="my_name">就職　太郎さんのマイページ</p>
    <div class="schedule_box">
        <p class="pcOnly schedule_title">スケジュール：2016年00月00日</p>
        
        <table class="schedule_table_top pcOnly">
            <tr><!--日付、曜日表示-->
                <th>00月00日(月)</th>
                <th class="today">00月00日(火)</th>	<!--今日の日付にtodayクラスを付けて赤表示に-->
                <th>00月00日(水)</th>
                <th>00月00日(木)</th>
                <th>00月00日(金)</th>
                <th>00月00日(土)</th>
                <th>00月00日(日)</th>
            </tr>
        
            <tr class="plan_bar_area">
                <td>
                	<div class="orange day4 plan_bar1">会社説明会</div>
                </td>
                
                <td class="today"></td>
                
                <td></td>
                
                <td>
                	<div class="light_blue day2 plan_bar2">一時面接</div>
                </td>
                
                <td></td>
                
                <td></td>
                
                <td></td>
            </tr>
        </table>
        <table class="schedule_table_bottom pcOnly">
            <tr>
                <td class="plan">	<!--月曜日予定リスト-->	<!--予定が入っている日にplanクラスをつけて白背景に-->
                    <ul>
                        <li>00:00　受付開始</li>
                        <li>00:00　質疑応答</li>
                    </ul>
                </td>
                <td class="plan today">   <!--火曜日予定リスト-->
                    <ul>
                        <li>00:00　受付開始</li>
                        <li>00:00　質疑応答</li>
                    </ul>
                </td>
                <td>	<!--水曜日予定リスト-->
        
                </td>
                <td class="plan">	<!--木曜日予定リスト-->
                    <ul>
                    <li>00:00　1組目 受付開始</li>
                    <li>00:00　1組目 面接</li>
                    <li>00:00　2組目 受付開始</li>
                    <li>00:00　2組目 面接</li>
                    <li>00:00　3組目 受付開始</li>
                    <li>00:00　3組目 面接</li>
                    </ul>
                </td>
                <td class="plan">	<!--金曜日予定リスト-->
                    <ul>
                    <li>00:00　1組目 受付開始</li>
                    <li>00:00　1組目 面接</li>
                    <li>00:00　2組目 受付開始</li>
                    <li>00:00　2組目 面接</li>
                    <li>00:00　3組目 受付開始</li>
                    <li>00:00　3組目 面接</li>
                    </ul>
                </td>
                <td>	<!--土曜日予定リスト-->
        
                </td>
                <td>	<!--日曜日予定リスト-->
        
                </td>
            </tr>
        </table>
        
        <div class="schedule_list_box spOnly">
        	<div class="schedule_list">
                <p class="schedule_title">スケジュール：2016年00月00日</p>
                <dl>
                    <dt>2016年00月00日(月)</dt>
                    <dd>株式会社○○○○　会社説明会 </dd>
                </dl>
                <dl class="today">
                    <dt>2016年00月00日(火)</dt>
                    <dd>株式会社○○○○　会社説明会</dd>
                </dl>
                <dl>
                    <dt>2016年00月00日(水)</dt>
                    <dd>株式会社○○○○　会社説明会</dd>
                </dl>
                <dl>
                    <dt>2016年00月00日(木)</dt>
                    <dd>株式会社○○○○　会社説明会</dd>
                    <dd>株式会社○○○○　一次面接</dd>
                </dl>
                <dl>
                    <dt>2016年00月00日(金)</dt>
                    <dd>株式会社○○○○　会社説明会</dd>
                    <dd>株式会社○○○○　一次面接</dd>
                </dl>
                <dl>
                    <dt>2016年00月00日(土)</dt>
                    <dd>予定はありません。</dd>
                </dl>
                <dl>
                    <dt>2016年00月00日(日)</dt>
                    <dd>予定はありません。</dd>
                </dl>
                
            </div>
        </div>
	</div>
    <div class="text_link_button">
        	<p><a href="my_entry.html">スケジュール管理ページへ</a></p>
        </div>
    <div class="notebook_box">
        <div class="notebook_body pcOnly">		<!--PC用連絡帳-->
           <img class="ballon" src="img/pc/mypage/balloon_icon.png" alt=""/><strong>連絡帳</strong>
          <div class="boder"></div>		<!--区切り線-->
            <dl>
	            <dt class="data_time"><img class="read_check" src="img/pc/mypage/midoku.png" alt="未読"/></dt>
                <dd class="data_time">2016年00月00日</dd>
                <dt>株式会社○○○○</dt>
                <dd>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</dd>
            </dl>
          <div class="boder"></div>
          <dl>
                <dt class="data_time"><img class="read_check" src="img/pc/mypage/kidoku.png" alt="既読"/></dt>
                <dd class="data_time">2016年00月00日</dd>
                <dt>株式会社○○○○</dt>
                <dd>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</dd>
          </dl>
          <div class="boder"></div>
            <dl>
            	<dt class="data_time"><img class="read_check" src="img/pc/mypage/midoku.png" alt="未読"/></dt>
                <dd class="data_time">2016年00月00日</dd>
                <dt>株式会社○○○○</dt>
                <dd>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</dd>
            </dl>
          <div class="boder"></div>
          <dl>
            	<dt class="data_time"><img class="read_check" src="img/pc/mypage/kidoku.png" alt="既読"/></dt>
                <dd class="data_time">2016年00月00日</dd>
                <dt>株式会社○○○○</dt>
                <dd>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</dd>
          </dl>
          <div class="boder"></div>
          <dl>
            	<dt class="data_time"><img class="read_check" src="img/pc/mypage/kidoku.png" alt="既読"/></dt>
                <dd class="data_time">2016年00月00日</dd>
                <dt>株式会社○○○○</dt>
                <dd>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</dd>
          </dl>
          <div class="boder"></div>
          <dl>
            	<dt class="data_time"><img class="read_check" src="img/pc/mypage/kidoku.png" alt="既読"/></dt>
                <dd class="data_time">2016年00月00日</dd>
                <dt>株式会社○○○○</dt>
                <dd>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</dd>
          </dl>
            
            
      </div>
      
        <div class="notebook_body spOnly">		<!--スマホ用連絡帳-->
        	<img class="ballon" src="img/pc/mypage/balloon_icon.png" alt=""/><p>連絡帳</p>
        	<div class="boder"></div>		<!--区切り線-->
            <div class="sp_notebook_contents">
                <table class="sp_notebook_table">
                  <tr>
                  	<th></th>
                    <th class="left_box">○○株式会社</th>
                    <th class="light_box">2016年00月00日</th>
                  </tr>
                  <tr>
                  	<th class="icon_box"><img class="read_check" src="img/pc/mypage/midoku.png" alt="未読"/></th>
                    <td class="text_box" colspan="2">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</td>
                  </tr>
                </table>
            </div>
            <div class="boder"></div>		<!--区切り線-->
            <div class="sp_notebook_contents">
                <table class="sp_notebook_table">
                  <tr>
                  	<th></th>
                    <th class="left_box">株式会社○○</th>
                    <th class="light_box">2016年00月00日</th>
                  </tr>
                  <tr>
                  	<th class="icon_box"><img class="read_check" src="img/pc/mypage/kidoku.png" alt="既読"/></th>
                    <td class="text_box" colspan="2">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</td>
                  </tr>
                </table>
            </div>
            <div class="boder"></div>		<!--区切り線-->
            <div class="sp_notebook_contents">
                <table class="sp_notebook_table">
                  <tr>
                  	<th></th>
                    <th class="left_box">株式会社○○○○</th>
                    <th class="light_box">2016年00月00日</th>
                  </tr>
                  <tr>
                  	<th class="icon_box"><img class="read_check" src="img/pc/mypage/midoku.png" alt="未読"/></th>
                    <td class="text_box" colspan="2">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</td>
                  </tr>
                </table>
            </div>
            <div class="boder"></div>		<!--区切り線-->
            <div class="sp_notebook_contents">
            
            </div>

      	</div>
    </div>
	<div class="text_link_button">
            <p><a href="my_inbox.html">連絡帳ページへ</a></p>
    </div>

<section class="search">
<h2 class="ttl_search">企業検索</h2>
<h3>フリーワード検索</h3>

<input type="text" class="withicon">

<h3> 条件検索 </h3>
<div class="terms clearfix">

<div class="business js-matchHeight"><a href="search_bussiness_type.html" class="iframe"></a>
<div class="termsP">
<ul>
<li>大分類：テキストが入ります。(12w)</li>
<li>中分類：テキストが入ります。(12w)</li>
<li>小分類：テキストが入ります。(12w)</li>
<li>細分類：テキストが入ります。(12w)</li>
</ul>
</div>
</div>

<div class="category js-matchHeight"><a href="search_job_type.html" class="iframe"></a>
<div class="termsP">
<ul>
<li>大分類：テキストが入ります。(12w)</li>
<li>中分類：テキストが入ります。(12w)</li>
<li>小分類：テキストが入ります。(12w)</li>
</ul>
</div>
</div>

<div class="area js-matchHeight"><a href="search_area.html" class="iframe"></a>
<div class="termsP">
<ul>
<li>大分類：テキストが入ります。(12w)</li>
<li>中分類：テキストが入ります。(12w)</li>
</ul>
</div>
</div>

<div class="number js-matchHeight"><a href="search_employees_number.html" class="iframe"></a>
<div class="termsP">
<ul>
<li>大分類：テキストが入ります。(12w)</li>
</ul>
</div>
</div>

<div class="mrk js-matchHeight"><a href="search_company_form.html" class="iframe"></a>
<div class="termsP">
<ul>
<li>大分類：テキストが入ります。(12w)</li>
</ul>
</div>
</div>

<div class="feature js-matchHeight"><a href="search_feature.html" class="iframe"></a>
<div class="termsP">
<ul>
<li>大分類：テキストが入ります。(12w)</li>
<li>中分類：テキストが入ります。(12w)</li>
<li>小分類：テキストが入ります。(12w)</li>
</ul>
</div>
</div>

</div>

<div class="sbmt pcOnly"> <a href="#"><img src="img/pc/common/srch_btn.png" alt="あなたにあった仕事を探す"/></a> </div>
<div class="sbmt spOnly"> <a href="#"><img src="img/sp/common/srch_btn.png" alt=""/></a> </div>

</section>
<section class="comp slick_container">
<h2 class="ttl_comp">新着企業</h2>
<div class="crsl crslSP">
<div><a href="#"><img src="img/pc/top/new_comp01.jpg" alt="株式会社〇〇"></a>
<h4>株式会社〇〇〇〇</h4><p class="pcOnly">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。（50w）</p></div>
<div><a href="#"><img src="img/pc/top/new_comp02.jpg" alt="株式会社〇〇"></a>
<h4>株式会社〇〇〇〇</h4><p class="pcOnly">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。（50w）</p></div>
<div><a href="#"><img src="img/pc/top/new_comp03.jpg" alt="株式会社〇〇"></a>
<h4>株式会社〇〇〇〇</h4><p class="pcOnly">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。（50w）</p></div>
<div><a href="#"><img src="img/pc/top/new_comp04.jpg" alt="株式会社〇〇"></a>
<h4>株式会社〇〇〇〇</h4><p class="pcOnly">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。（50w）</p></div>
<div><a href="#"><img src="img/pc/top/new_comp05.jpg" alt="株式会社〇〇"></a>
<h4>株式会社〇〇〇〇</h4><p class="pcOnly">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。（50w）</p></div>
<div><a href="#"><img src="img/pc/top/new_comp06.jpg" alt="株式会社〇〇"></a>
<h4>株式会社〇〇〇〇</h4><p class="pcOnly">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。（50w）</p></div>
</div>
</section>

<section class="bnrLBox">
<div class="innr">
<h2 class="ttl_bnrL">おすすめ企業</h2>
<div class="bnrL">
<div><a href="#"><img src="img/pc/top/l_bnr01.jpg" alt="バナー"/></a></div>
<div><a href="#"><img src="img/pc/top/l_bnr03.jpg" alt="バナー"/></a></div>
<div><a href="#"><img src="img/pc/top/l_bnr02.jpg" alt="バナー"/></a></div>
<div><a href="#"><img src="img/pc/top/l_bnr04.jpg" alt="バナー"/></a></div>
<div><a href="#"><img src="img/pc/top/l_bnr05.jpg" alt="バナー"/></a></div>
<div><a href="#"><img src="img/pc/top/l_bnr06.jpg" alt="バナー"/></a></div>
</div>
</div>
</section>

<section class="rank">
<h2 class="ttl_rank">アクセスランキング</h2>
<div class="rankBox clearfix">
<div class="rankDtl"><h3 class="rank01">株式会社〇〇〇〇〇〇〇〇〇〇〇〇</h3>
<a href="#"><img src="img/pc/top/ranking01_pic.jpg" alt="株式会社〇〇" class="pcOnly"/></a>
<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。（50w）</p>
</div>

<div class="rankDtl mrgL36"><h3 class="rank02">株式会社〇〇〇〇</h3>
<a href="#"><img src="img/pc/top/ranking02_pic.jpg" alt="株式会社〇〇" class="pcOnly"/></a>
<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。（50w）</p>
</div>

<div class="rankDtl mrgL36"><h3 class="rank03">株式会社〇〇〇〇</h3>
<a href="#"><img src="img/pc/top/ranking03_pic.jpg" alt="株式会社〇〇" class="pcOnly"></a>
<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。（50w）</p>
</div>

</div>
</section>
<section class="newsBox">
<div class="innr">
<h2 class="ttl_news">NEWS</h2>

<dl class="clearfix">
<dt>2016年00月00日</dt>
<dd>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</dd>

<dt>2016年00月00日</dt>
<dd>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</dd>

<dt>2016年00月00日</dt>
<dd>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</dd>

<dt>2016年00月00日</dt>
<dd>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</dd>

<dt>2016年00月00日</dt>
<dd>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</dd>

</dl>
</div>
<div class="text_link_button my_top">
<p><a href="news.html">一覧を見る</a></p>
</div>
</section>

<section class="bnrSbox slick_container">
<div class="bnrS">
<div><a href="#"><img src="img/pc/top/s_bnr01.jpg" alt="バナー"></a></div>
<div><a href="#"><img src="img/pc/top/s_bnr02.jpg" alt="バナー"></a></div>
<div><a href="#"><img src="img/pc/top/s_bnr03.jpg" alt="バナー"></a></div>
<div><a href="#"><img src="img/pc/top/s_bnr04.jpg" alt="バナー"></a></div>
<div><a href="#"><img src="img/pc/top/s_bnr05.jpg" alt="バナー"></a></div>
<div><a href="#"><img src="img/pc/top/s_bnr06.jpg" alt="バナー"></a></div>
</div>
</section>
</article>

</div>

<footer>
<section class="innr">



<nav class="clearfix">
<div>
<h4><p>■企業検索</p></h4>
<ul>
<li><a href="search.html">企業検索</a></li>
</ul>
</div>

<div>
<h4><p>■会員メニュー</p></h4>
<ul>
<li><a href="my_entry.html">スケジュール管理</a></li>
<li><a href="my_inbox.html">連絡帳</a></li>
<li><a href="my_bookmark.html">ブックマーク</a></li>
<li><a href="my_regist.html">会員情報管理</a></li>
</ul>
</div>

<div>
<h4><p>■就活支援</p></h4>
<ul>
<li><a href="interview.html">就活スケジュール</a></li>
<li><a href="know.html">就活成功へのステップ</a></li>
</ul>
</div>

<div>
<h4><p>■ヘルプ</p></h4>
<ul>
<li><a href="guide.html">就職ナビ＋の使い方</a></li>
<li><a href="faq.html">FAQ</a></li>
</ul>
</div>

<div>
<h4><p>■お問い合わせ</p></h4>
<ul>
<li><a href="my_contact_form.html">お問い合わせ</a></li>
</ul>
</div>
</nav>
</section>


<section class="copyright down">

<nav class="clearfix down2">

<div>
<ul>
<li><a href="about.html">運営会社</a></li>
</ul>
</div>

<div>
<ul>
<li><a href="terms.html">利用規約</a></li>
</ul>
</div>

<div>
<ul>
<li><a href="privacy.html">プライバシーポリシー</a></li>
</ul>
</div>

<div>
<ul>
<li><a href="sitemap.html">サイトマップ</a></li>
</ul>
</div>

<div>
<ul>
<li><a href="#">企業の採用担当の方はこちら</a></li>
</ul>
</div>

</nav>


<div class="footerSp spOnly">
<p><a href="about.html">運営会社</a></p>
<p><a href="terms.html">利用規約</a></p>
<p><a href="privacy.html">プライバシーポリシー</a></p>
<p><a href="sitemap.html">サイトマップ</a></p>
<p><a href="#">企業担当者の方はこちら</a></p>
</div>


<p>©2016 就職ナビ＋</p>
</section>
</footer>
<div class="pagetop">
<a href="#wrapper"><img src="img/pc/search_list/top_back.png" alt="上へ戻る" width="64" height="64" /></a>
</div>
</div>

</body>
</html>