<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>プライバシーポリシー｜就職ナビ+ 【就職ナビプラス】-学生向け就職情報サイト-</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="img/common/favicon-16x16.ico" sizes="16x16">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="img/common/favicon-32x32.ico" sizes="32x32">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="img/common/favicon-96x96.ico" sizes="96x96">
<meta name="keywords" content="就職ナビ+,就職ナビプラス,新卒,就職,新卒 就活サイト,就職活動,就活,内定,採用,面接,説明会,採用情報,インターンシップ,仕事,会社,企業,活動,求人,2017,企業検索">
<meta name="description" content="新卒学生・既卒学生のための就職情報サイト「就職ナビ+」では新卒採用情報を掲載しております。企業検索以外にも就活お役立ちコンテンツも盛り沢山。">

<meta property="og:title" content="プライバシーポリシー｜就職ナビ+ 【就職ナビプラス】-学生向け就職情報サイト-" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://xxxxxxxxxxxxxxxx" />
<meta property="og:image" content="img/common/ogp.jpg" />

<link href="css/reset.css" rel="stylesheet" type="text/css" media="screen">
<link href="css/style.css" rel="stylesheet" type="text/css" media="screen">
<link rel="stylesheet" href="css/terms.css" type="text/css">
<link href="css/slick-theme.css" rel="stylesheet" type="text/css">
<link href="css/slick.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/slicknav.css" />

<script src="js/jquery-2.2.1.min.js"></script>

<script type="text/javascript">
// responsive
var s = document.createElement("script");
s.type = "text/javascript";
$(function(){
// Window width default
var egwidth = $(window).width();
if (egwidth <= 767) {
//alert('sp'+egwidth);
s.src = "./js/sp.js";
document.getElementsByTagName("head")[0].appendChild(s);
} else if (egwidth > 768) {
//alert('pc'+egwidth);
s.src = "./js/pc.js";
document.getElementsByTagName("head")[0].appendChild(s);
}

// Window width resize with pc
var timer = false;
$(window).resize(function() {
if (timer !== false) {
clearTimeout(timer);
}
timer = setTimeout(function() {
var egwidth = $(window).width();
if (egwidth <= 767) {
s.src = "./js/sp.js";
document.getElementsByTagName("head")[0].appendChild(s);
//alert('sp'+egwidth);
} else if (egwidth > 768) {
s.src = "./js/pc.js";
document.getElementsByTagName("head")[0].appendChild(s);
//alert('pc'+egwidth);
}
}, 200);
});
});
</script>

<script src="js/slick.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.matchHeight-min.js"></script>
<script src="js/jquery.mobile.custom.min.js"></script>

<script>
$(function(){
$('.js-matchHeight').matchHeight();
});
</script>

</head>

<body>
<div id="wrapper">
<div id="mobile-menu"></div>
<header id="topHead"  data-role="header" data-position="fixed">
<h1><a href="index.html"><img src="img/pc/common/logo.png" alt="就職ナビ+　2017"   /></a></h1>

<div class="headrBtn clearfix">
<div><a href="new_regist.html"><img src="img/pc/common/regist.png" alt="新規会員登  録"/></a></div>
<div><a href="my_login.html"><img src="img/pc/common/login.png" alt="ログイ  ン"/></a></div>
</div>

<!--  pcnNav -->
<div class="menu-container pcOnly">
<div class="menu">
<ul>
<li><a href="#" class="rds"><i class="fa fa-bars">MENU</i></a>
<ul>

<li><p>企業検索</p>
<ul>
<li><a href="search.html">企業検索</a></li>
</ul>
</li>

<li><p>会員メニュー</p>
<ul>
<li><a href="my_login2.html">スケジュール管理</a></li>
<li><a href="my_login2.html">連絡帳</a></li>
<li><a href="my_login2.html">ブックマーク</a></li>
<li><a href="my_login2.html">会員情報管理</a></li>
</ul>
</li>

<li><p>就活支援</p>
<ul>
<li><a href="interview.html">就活スケジュール</a></li>
<li><a href="know.html">就活成功へのステップ</a></li>
</ul>
</li>

<li><p>ヘルプ</p>
<ul>
<li><a href="guide.html">就職ナビ＋の使い方</a></li>
<li><a href="faq.html">FAQ</a></li>
</ul>
</li>

<li><p>お問い合わせ</p>
<ul>
<li><a href="contact.html">お問い合わせ</a></li>
</ul>
</li>


</ul>
</li>
</ul>
</div>
</div>
<!--  /pcnNav -->

<!--  spnNav -->
<div class="menu-container spOnly">
<div class="menu">
<ul>

<li><a href="my_login.html">ログイン</a></li>

<li><a href="new_regist.html">新規会員登録</a></li>

<li><p>企業検索</p>
<ul>
<li><a href="search.html">企業検索</a></li>
</ul>
</li>

<li><p>会員メニュー</p>
<ul>
<li><a href="my_login2.html">スケジュール管理</a></li>
<li><a href="my_login2.html">連絡帳</a></li>
<li><a href="my_login2.html">ブックマーク</a></li>
<li><a href="my_login2.html">会員情報管理</a></li>
</ul>
</li>

<li><p>就活支援</p>
<ul>
<li><a href="interview.html">就活スケジュール</a></li>
<li><a href="know.html">就活成功へのステップ</a></li>
</ul>
</li>

<li><p>ヘルプ</p>
<ul>
<li><a href="guide.html">就職ナビ＋の使い方</a></li>
<li><a href="faq.html">FAQ</a></li>
</ul>
</li>

<li><p>お問い合わせ</p>
<ul>
<li><a href="contact.html">お問い合わせ</a></li>
</ul>
</li>

</ul>
</div>
</div>
<!--  /spnNav -->
</header>
<article>
<div class="container">
<div class="terms_title"><h2>プライバシーポリシー</h2></div>
<div class="terms_contents">

<dl>
<dt><em>1.</em>個人情報の管理</dt>
<dd>当社は、個人情報を適切に保護、管理する体制を確立し、個人情報の適正な取得、利用および提供に関する社内規程を定め、これを遵守します。
</dd>

<dt><em>2.</em>個人情報の取得および利用</dt>
<dd>当社は、個人情報を取得および利用する場合には、利用目的を明確にし、特定された利用目的の達成に必要な範囲内で適正に個人情報を取扱うとともに、目的外利用を阻止するための措置を講じています。</dd>

<dt><em>3.</em>個人情報の提供</dt>
<dd>当社は、本人の同意がある場合又は法令等による正当な理由がある場合を除き、個人情報を第三者に提供いたしません。</dd>

<dt><em>4.</em>個人情報の外部委託</dt>
<dd>取得した個人情報は、ダイレクトメールの発送や情報処理等の目的で外部に業務委託することがあります。委託に際しては、個人情報の保護水準が、当社が設定する安全対策基準を満たす事業者を選定し、適切な管理、監督を行います。</dd>

<dt><em>5.</em>個人情報の安全対策</dt>
<dd>個人情報への不正アクセス、個人情報の滅失、毀損、改ざんおよび漏洩等のリスクに対して適切な予防措置を講ずることにより、個人情報の安全性、正確性の確保を図ります。また、万が一、問題が発生した場合には、被害の最小限化に努めるとともに、速やかに是正措置を実施します。</dd>

<dt><em>6.</em>個人情報の苦情・相談への対応</dt>
<dd>個人情報の取扱いに関するご本人からの苦情及び相談について対応窓口を設置し、適切に対応します。</dd>

<dt><em>7.</em>法令等の遵守</dt>
<dd>個人情報の取扱いに関する法令、国が定める指針、その他規範を遵守します。</dd>

<dt><em>8.</em>個人情報保護マネジメントシステムの継続的改善</dt>
<dd>個人情報保護を適切に維持するために、個人情報保護マネジメントシステムを確立し、運用状況について定期的に監査を実施し、継続的な改善に努めます。</dd>

<dt>公開された個人情報等の私用目的について</dt>
<dd>当社は、企業ホームページ、電話帳、紳士録、官報、その他市販の名簿などから個人情報を取得いたします。この個人情報は、当社のサービスをご案内するために利用いたします。この個人情報を利用して本人にアクセスする場合、利用目的、取得方法などを通知し、本人の同意を得ます。<br>
なお、本人から直接個人情報を取得する場合は、取得時に本人へ利用目的を通知し、同意を得ます。</dd>

<dt>委託された個人情報の利用目的について</dt>
<dd>当社は、委託元への管理機能の提供、採用の進捗管理、電話・メール等による連絡、電話・メール・郵便物による情報提供、試験実施業務を行うために、委託された個人情報を取り扱います。
</dd>

<dt>個人情報保護に関するお問い合わせ窓口</dt>
<dd>〒100-6226<br>
東京都千代田区丸の内1-11-1　パシフィックセンチュリープレイス丸の内26F<br>
株式会社ＴＣＳマーケティング<br>
03-6812-3330</dd>
</dl>


</div>

</div>
</article>
<footer>
<section class="innr">



<nav class="clearfix">
<div>
<h4><p>■企業検索</p></h4>
<ul>
<li><a href="search.html">企業検索</a></li>
</ul>
</div>

<div>
<h4><p>■会員メニュー</p></h4>
<ul>
<li><a href="my_login2.html">スケジュール管理</a></li>
<li><a href="my_login2.html">連絡帳</a></li>
<li><a href="my_login2.html">ブックマーク</a></li>
<li><a href="my_login2.html">会員情報管理</a></li>
</ul>
</div>

<div>
<h4><p>■就活支援</p></h4>
<ul>
<li><a href="interview.html">就活スケジュール</a></li>
<li><a href="know.html">就活成功へのステップ</a></li>
</ul>
</div>

<div>
<h4><p>■ヘルプ</p></h4>
<ul>
<li><a href="guide.html">就職ナビ＋の使い方</a></li>
<li><a href="faq.html">FAQ</a></li>
</ul>
</div>

<div>
<h4><p>■お問い合わせ</p></h4>
<ul>
<li><a href="contact.html">お問い合わせ</a></li>
</ul>
</div>
</nav>
</section>


<section class="copyright down">

<nav class="clearfix down2">

<div>
<ul>
<li><a href="about.html">運営会社</a></li>
</ul>
</div>

<div>
<ul>
<li><a href="terms.html">利用規約</a></li>
</ul>
</div>

<div>
<ul>
<li><a href="privacy.html">プライバシーポリシー</a></li>
</ul>
</div>

<div>
<ul>
<li><a href="sitemap.html">サイトマップ</a></li>
</ul>
</div>

<div>
<ul>
<li><a href="#">企業の採用担当の方はこちら</a></li>
</ul>
</div>

</nav>


<div class="footerSp spOnly">
<p><a href="about.html">運営会社</a></p>
<p><a href="terms.html">利用規約</a></p>
<p><a href="privacy.html">プライバシーポリシー</a></p>
<p><a href="sitemap.html">サイトマップ</a></p>
<p><a href="#">企業担当者の方はこちら</a></p>
</div>


<p>©2016 就職ナビ＋</p>
</section>
</footer>
<div class="pagetop">
<a href="#wrapper"><img src="img/pc/search_list/top_back.png" alt="上へ戻る" width="64" height="64" /></a>
</div>
</div>
</body>
</html>