<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="css/search_type.css">
<script type="text/javascript" src="js/jquery-2.2.1.min.js"></script>
<title>企業形態から探す</title>
</head>

<body style="background-color:#a0442f;">
<script>
// JavaScript Document

$(function(){
	"use strict";
	
	//bclick_large(大項目)要素が押されたとき次の項目(中項目)を開く
        $(".click_large").click(function(){
            $(this).nextAll('ul').slideToggle('fast');
			$(this).prev(".fa-plus-square-o").toggleClass("open");
        });
		
	//click_middle(中項目)要素が押されたとき次の項目(小項目)を開く
        $(".click_middle").click(function(){
            $(this).nextAll('ul').slideToggle('fast');
			$(this).next(".fa-plus-square-o").toggleClass("open");
        });
		
	//click_small(小項目)要素が押されたとき次の項目(細分類)を開く
        $(".click_small").click(function(){
            $(this).nextAll('ul').slideToggle('fast');
			$(this).next(".fa-plus-square-o").toggleClass("open");
        });

    });
	
</script>

<div class="search_type_container">
    <div class="search_type_header company_form"><h3>企業形態から探す</h3>
        <div class="all_check_button_large">
            <a href="#"><img src="img/pc/search_type/select_all_button_red.png" width="275" height="60" alt="すべて選択" class="all_check_button_img"/></a>
            <a href="#"><img src="img/pc/search_type/release_button_red.png" width="276" height="60" alt="解除" class="all_check_button_img"/></a>
        </div>
    </div>
    <form>
    <div class="search_type_menu company_form">
    	<!------▼大項目------->
        <ul class="large_category" id="main_menu">

            <li class="large_category_contents">
            	<label><input class="large_checkbox" type="checkbox"><span>上場</span>
                <div class="click_large"></div></label>
            </li>
            
            <li class="large_category_contents">
            	<label><input class="large_checkbox" type="checkbox"><span>未上場、非上場</span>
                <div class="click_large"></div></label>
            </li>
            
        </ul>
    </div>
    </form>
    
    <div id="search_type_footer" class="company_form">
            <a href="#"><img src="img/pc/search_type/company_form_decision_button.png" width="560" height="60" alt="企業形態選択決定"/></a>
    </div>

</div>
</body>
</html>