<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>利用規約｜就職ナビ+ 【就職ナビプラス】-学生向け就職情報サイト-</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="img/common/favicon-16x16.ico" sizes="16x16">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="img/common/favicon-32x32.ico" sizes="32x32">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="img/common/favicon-96x96.ico" sizes="96x96">
<meta name="keywords" content="就職ナビ+,就職ナビプラス,新卒,就職,新卒 就活サイト,就職活動,就活,内定,採用,面接,説明会,採用情報,インターンシップ,仕事,会社,企業,活動,求人,2017,企業検索">
<meta name="description" content="新卒学生・既卒学生のための就職情報サイト「就職ナビ+」では新卒採用情報を掲載しております。企業検索以外にも就活お役立ちコンテンツも盛り沢山。">

<meta property="og:title" content="利用規約｜就職ナビ+ 【就職ナビプラス】-学生向け就職情報サイト-" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://xxxxxxxxxxxxxxxx" />
<meta property="og:image" content="img/common/ogp.jpg" />

<link href="css/reset.css" rel="stylesheet" type="text/css" media="screen">
<link href="css/style.css" rel="stylesheet" type="text/css" media="screen">
<link rel="stylesheet" href="css/terms.css" type="text/css">
<link href="css/top.css" rel="stylesheet" type="text/css" media="screen">
<link href="css/slick-theme.css" rel="stylesheet" type="text/css">
<link href="css/slick.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/slicknav.css" />

<script src="js/jquery-2.2.1.min.js"></script>

<script type="text/javascript">
// responsive
var s = document.createElement("script");
s.type = "text/javascript";
$(function(){
// Window width default
var egwidth = $(window).width();
if (egwidth <= 767) {
//alert('sp'+egwidth);
s.src = "./js/sp.js";
document.getElementsByTagName("head")[0].appendChild(s);
} else if (egwidth > 768) {
//alert('pc'+egwidth);
s.src = "./js/pc.js";
document.getElementsByTagName("head")[0].appendChild(s);
}

// Window width resize with pc
var timer = false;
$(window).resize(function() {
if (timer !== false) {
clearTimeout(timer);
}
timer = setTimeout(function() {
var egwidth = $(window).width();
if (egwidth <= 767) {
s.src = "./js/sp.js";
document.getElementsByTagName("head")[0].appendChild(s);
//alert('sp'+egwidth);
} else if (egwidth > 768) {
s.src = "./js/pc.js";
document.getElementsByTagName("head")[0].appendChild(s);
//alert('pc'+egwidth);
}
}, 200);
});
});
</script>

<script src="js/slick.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.matchHeight-min.js"></script>
<script src="js/jquery.mobile.custom.min.js"></script>

<script>
$(function(){
$('.js-matchHeight').matchHeight();
});
</script>

</head>

<body>
<div id="wrapper">
<div id="mobile-menu"></div>
<header id="topHead"  data-role="header" data-position="fixed">
<h1><a href="index.html"><img src="img/pc/common/logo.png" alt="就職ナビ+　2017"   /></a></h1>

<div class="headrBtn clearfix">
<div><a href="new_regist.html"><img src="img/pc/common/regist.png" alt="新規会員登  録"/></a></div>
<div><a href="my_login.html"><img src="img/pc/common/login.png" alt="ログイ  ン"/></a></div>
</div>

<!--  pcnNav -->
<div class="menu-container pcOnly">
<div class="menu">
<ul>
<li><a href="#" class="rds"><i class="fa fa-bars">MENU</i></a>
<ul>

<li><p>企業検索</p>
<ul>
<li><a href="search.html">企業検索</a></li>
</ul>
</li>

<li><p>会員メニュー</p>
<ul>
<li><a href="my_login2.html">スケジュール管理</a></li>
<li><a href="my_login2.html">連絡帳</a></li>
<li><a href="my_login2.html">ブックマーク</a></li>
<li><a href="my_login2.html">会員情報管理</a></li>
</ul>
</li>

<li><p>就活支援</p>
<ul>
<li><a href="interview.html">就活スケジュール</a></li>
<li><a href="know.html">就活成功へのステップ</a></li>
</ul>
</li>

<li><p>ヘルプ</p>
<ul>
<li><a href="guide.html">就職ナビ＋の使い方</a></li>
<li><a href="faq.html">FAQ</a></li>
</ul>
</li>

<li><p>お問い合わせ</p>
<ul>
<li><a href="contact.html">お問い合わせ</a></li>
</ul>
</li>


</ul>
</li>
</ul>
</div>
</div>
<!--  /pcnNav -->

<!--  spnNav -->
<div class="menu-container spOnly">
<div class="menu">
<ul>

<li><a href="my_login.html">ログイン</a></li>

<li><a href="new_regist.html">新規会員登録</a></li>

<li><p>企業検索</p>
<ul>
<li><a href="search.html">企業検索</a></li>
</ul>
</li>

<li><p>会員メニュー</p>
<ul>
<li><a href="my_login2.html">スケジュール管理</a></li>
<li><a href="my_login2.html">連絡帳</a></li>
<li><a href="my_login2.html">ブックマーク</a></li>
<li><a href="my_login2.html">会員情報管理</a></li>
</ul>
</li>

<li><p>就活支援</p>
<ul>
<li><a href="interview.html">就活スケジュール</a></li>
<li><a href="know.html">就活成功へのステップ</a></li>
</ul>
</li>

<li><p>ヘルプ</p>
<ul>
<li><a href="guide.html">就職ナビ＋の使い方</a></li>
<li><a href="faq.html">FAQ</a></li>
</ul>
</li>

<li><p>お問い合わせ</p>
<ul>
<li><a href="contact.html">お問い合わせ</a></li>
</ul>
</li>

</ul>
</div>
</div>
<!--  /spnNav -->
</header>
<article>
<div class="container">
    <div class="terms_title"><h2>利用規約</h2></div>
        <div class="terms_contents">
        <p>株式会社ＴＣＳマーケティング（以下「ＴＣＳマーケティング」といいます）が提供する就職支援サービスのご利用にあたっては、以下の利用規約をご確認、ご承諾いただいたうえでお申込みくださいますようお願い致します。<br><br>
        </p>
        <dl>
        <dt>第1条（就職支援サービス）</dt>
        <dd>就職支援サービスとは、ＴＣＳマーケティングが運営する「就職ナビ＋」をはじめとする人材紹介サービスの総称をいいます。</dd>
        </dl>
        <dl>
        <dt>第2条（会員）</dt>
        <dd class="dd_out_list"><em>1</em>. 就職支援サービスの会員（以下「会員」といいます」）とは、ＴＣＳマーケティングが定める方法により就職支援サービスの利用申込を行ない、ＴＣＳマーケティングがこれを承諾した利用者のことをいいます。</dd>
        <dd class="dd_out_list"><em>2</em>. 会員は利用申込の時点で、本規約の内容を全て承諾しているものとみなします。</dd>
        </dl>
        <dl>
        <dt>第3条（会員の責任）</dt>
        <dd class="dd_out_list"><em>1</em>. 会員は、自らの意思によってのみ就職支援サービスに登録し、会員となるものとします。</dd>
        
        <dd class="dd_out_list"><em>2</em>. 会員は就職支援サービスにて不備・齟齬がないように自らの情報を登録するものとします。登録情報の不備・齟齬により発生した事項については、ＴＣＳマーケティングは一切責任を負いません。</dd>
        </dl>
        <dl>
        <dt>第4条（ID及びパスワードの管理）</dt>
        <dd class="dd_out_list"><em>1</em>. 会員は、就職支援サービスにてＴＣＳマーケティングから付与されるID及びパスワードの管理責任を負うものとします。</dd>
        
        <dd class="dd_out_list"><em>2</em>. 会員は、ID及びパスワードを第三者に利用させたり、貸与、譲渡、売買等をすることはできません。</dd>
        
        <dd class="dd_out_list"><em>3</em>. ID及びパスワードの管理不十分、使用上の過誤、第三者の使用等による損害の責任は会員が負うものとし、ＴＣＳマーケティングは一切責任を負いません。</dd>
        </dl>
        <dl>
        <dt>第5条（登録の取り消し）</dt> 
        <dd>会員が以下のいずれかに該当した場合は、ＴＣＳマーケティングの判断にて登録の取り消しを行ない、就職支援サービスの提供を終了する場合があります。</dd>
        
        <dd class="dd_in_list"><em>(1)</em> 本規約の定めに違反した場合</dd>
        
        <dd class="dd_in_list"><em>(2)</em> 虚偽の情報を提供または登録した場合</dd>
        
        <dd class="dd_in_list"><em>(3)</em> 正当な理由なく、ＴＣＳマーケティングからの連絡にご返信いただけない場合</dd>
        
        <dd class="dd_in_list"><em>(4)</em> 就職支援サービスを通じて紹介を受けた求人企業に対し、ＴＣＳマーケティングの承諾なく直接連絡をとり、採用選考を受けるまたは入社する行為があった場合（求人広告に対する応募申込など、会員が直接連絡をとることを前提としているサービスは除く）</dd>
        
        <dd class="dd_in_list"><em>(5)</em> 正当な理由なく、面談もしくは選考試験・面接を事前の連絡なく欠席し、または採用内定を受諾後に辞退する等の行為があった場合</dd>
        
        <dd class="dd_in_list"><em>(6)</em> 求人企業、ＴＣＳマーケティングまたは第三者に不利益を与える行為、誹謗・中傷・苦情・差別発言等の不適切な行為、または名誉、信用を損なう行為があった場合</dd>
        
        <dd class="dd_in_list"><em>(7)</em> 犯罪に結びつく行為があった場合</dd>
        
        <dd class="dd_in_list"><em>(8)</em> 法令または公序良俗に反する行為があった場合</dd>
        
        <dd class="dd_in_list"><em>(9)</em> 就職支援サービスを利用した営業活動、営利を目的とする情報提供行為があった場合</dd>
        
        <dd class="dd_in_list"><em>(10)</em> 就職支援サービスまたはＴＣＳマーケティングのその他のサービスの運営を妨げる行為があった場合</dd>
        
        <dd class="dd_in_list"><em>(11)</em> ＴＣＳマーケティングの信用を毀損するような行為があった場合</dd>
        
        <dd class="dd_in_list"><em>(12)</em> 就職支援サービスの範囲を超える要望を繰り返し行なった場合</dd>
        
        <dd class="dd_in_list"><em>(13)</em> その他、客観的、合理的事由によりＴＣＳマーケティングが不適切と判断する行為があった場合</dd>
        </dl>
        <dl>
        <dt>第6条（職業紹介サービス）</dt>
        <dd class="dd_out_list"><em>1</em>. 就職支援サービスにてＴＣＳマーケティングから会員に提供する、一般には公開されていない求人案件及びその関連情報については、会員は第三者へ提供・開示等を行なえないものとします。</dd>
        
        <dd class="dd_out_list"><em>2</em>. 就職支援サービスのうち、ＴＣＳマーケティングのコンサルタントが応募受付、面接日時の調整及び選考結果の連絡等を行なっている案件については、求人企業への連絡は原則全てＴＣＳマーケティングが行ない、会員本人から求人企業への直接の連絡は行なうことはできません（但し、面接当日などの緊急連絡が必要な場合は、原則として直接連絡を行なっていただきます）。</dd>
        </dl>
        <dl>
        <dt>第7条（求人照合）</dt>
        <dd>ＴＣＳマーケティングは就職支援サービスの提供にあたり、会員の登録内容と、求人企業が希望する求人条件とのマッチングを行ないますが、検討基準や判断理由等をお伝えすることはできません。また、会員から求人企業への応募依頼を受け付けた場合であっても、求人企業より示された選考基準などを参考にして当該求人への適合度合いを判断した結果、ＴＣＳマーケティングから当該求人への推薦を行なわない場合や、求人企業に代わり求人条件に適合しない旨のご連絡を行なう場合があります。</dd>
        </dl>
        <dl>
        <dt>第8条（求人企業への情報提供）</dt>
        <dd>会員が求人企業への応募をＴＣＳマーケティングに依頼した場合、ＴＣＳマーケティングは事前に本人の同意を得たうえで、会員の過去の賞罰等についての情報を当該求人企業に提供する場合があります。なお、同意を得られない場合は、就職支援サービスを提供できなくなる場合があります。</dd>
        </dl>
        <dl>
        <dt>第9条（求人企業への事実確認）</dt>
        <dd class="dd_out_list"><em>1</em>. ＴＣＳマーケティングは、求人企業または職業紹介会社から通知される労働条件その他契約内容に関する情報と、会員から提供される当該情報に不一致がある場合、求人企業または職業紹介会社に事実確認を行なう場合があります。</dd>
        <dd class="dd_out_list"><em>2</em>. ＴＣＳマーケティングは、就職支援サービスの運営に必要な範囲で、会員の就職活動状況及び就職支援サービスを通じて応募を行なった求人企業での入退社の状況等を、求人企業または職業紹介会社に確認する場合があります。</dd>
        </dl>
        <dl>
        <dt>第10条（個人情報の取り扱い）</dt>
        <dd>ＴＣＳマーケティングは、別途定める「就職支援サービス プライバシーポリシー」に従い、会員の個人情報を適切に取得・利用・提供・管理します。</dd>
        </dl>
        <dl>
        <dt>第11条（免責）</dt>
        <dd class="dd_out_list"><em>1</em>. ＴＣＳマーケティングに故意・重過失がない限り、以下の事項についてＴＣＳマーケティングは免責されます。</dd>
        
        <dd class="dd_in_list"><em>(1)</em> 就職支援サービスは、会員の就職・転職を保証するものではないこと</dd>
        
        <dd class="dd_in_list"><em>(2)</em> 就職支援サービスにおいて提供される求人情報は第三者の責任で提供されるものであり、当該情報の真実性、正確性、合法性、安全性、適切性及び有用性についてＴＣＳマーケティングは何ら保証できないこと</dd>
        
        <dd class="dd_in_list"><em>(3)</em> 会員と第三者との間での紛争が生じた場合には、会員の責任と負担で当該第三者と協議・解決を図ること</dd>
        
        <dd class="dd_in_list"><em>(4)</em> 会員は、自己の責任に基づいて求人企業と雇用契約を結ぶこと</dd>
        
        <dd class="dd_in_list"><em>(5)</em> 天災地変やネットワーク障害、通常講ずるべきウィルス対策では防止できないウィルス被害及びその他の不可抗力により発生した損害</dd>
        
        <dd class="dd_in_list"><em>(6)</em> 会員が就職支援サービスを利用したことかつＴＣＳマーケティングの責めに帰すべき事由によって会員に損害が発生した場合、ＴＣＳマーケティングが責任を負うのは直接かつ現実的に発生した損害の範囲に限定されること</dd>
        
        <dd class="dd_out_list"><em>2</em>. ＴＣＳマーケティングは、就職支援サービスの適正な運営及び管理のために必要な全ての権限を有するものとします。</dd>
        </dl>
        <dl>
        <dt>第12条（登録の抹消）</dt>
        <dd class="dd_out_list"><em>1</em>. 会員は自らの意思によりいつでも就職支援サービスを退会することができます。</dd>
        
        <dd class="dd_out_list"><em>2</em>. 退会の意思がなくとも、就職支援サービスの会員個人の画面に1年以上ログインがない場合は、自動的に登録を抹消される場合があります。</dd>
        
        <dd class="dd_out_list"><em>3</em>. 登録されたメールアドレスが会員本人以外の第三者の所有となった旨の連絡、もしくは登録したメールアドレスが存在しない場合で、当該最終ログインから１ヵ月以上が経過した場合、登録を抹消される場合があります。</dd>
        </dl>
        <dl>
        <dt>第13条（損害賠償）</dt>
        <dd>会員は、本規約の定めに違反してＴＣＳマーケティングまたは第三者に直接かつ現実的に損害を与えた場合は、その損害を賠償するものとします。</dd>
        </dl>
        <dl>
        <dt>第14条（サービス及び規約の変更等）</dt>
        <dd class="dd_out_list"><em>1</em>. ＴＣＳマーケティングは、会員への事前の通知なくして、就職支援サービスの内容変更または一時的な中断を行なうことができます。</dd>
        
        <dd class="dd_out_list"><em>2</em>. ＴＣＳマーケティングは一定の予告期間をもって会員に通知のうえ、就職支援サービスの提供を長期的に中断もしくは終了することができます。但し、やむを得ない事情がある場合は、予告を行なわない場合があります。</dd>
        
        <dd class="dd_out_list"><em>3</em>. ＴＣＳマーケティングは、会員の事前の承認を得ることなく本規約を随時変更することができます。本規約の変更については、就職支援サービスに関するサイト上に公示した時点から効力を発するものとします。なお、会員が本規約の変更後に、就職支援サービスを利用することにより、本規約の変更に承諾いただいたものとみなします。</dd>
        </dl>
        <dl>
        <dt>第15条（反社会的勢力の排除）</dt>
        <dd>会員は、就職支援サービスを利用するにあたり、ＴＣＳマーケティングに対して次に定める事項を表明し、保証するものとします。また、かかる表明・保証に違反した場合、ＴＣＳマーケティングは催告を要することなく直ちに、就職支援サービスの提供を打ち切り、その他ＴＣＳマーケティングが別途会員と締結している契約及び申込を解約できるものとします。</dd>
        
        <dd class="dd_in_list"><em>(1)</em> 会員が反社会的勢力（「暴力団員による不当な行為の防止等に関する法律」に定義する暴力団及びその関係団体その他の反社会的団体または勢力をいうものとします）ではないこと</dd>
        
        <dd class="dd_in_list"><em>(2)</em> 反社会的勢力を利用しないこと及びこれに準ずる行為をしないこと</dd>
        
        <dd class="dd_in_list"><em>(3)</em> 反社会的勢力に資金提供を行なわないこと及びこれに準ずる行為をしないこと</dd>
        
        <dd class="dd_in_list"><em>(4)</em> 反社会的勢力を名乗る等してＴＣＳマーケティングの名誉等の毀損、業務妨害、不当要求行為、またはこれに準ずる行為をしないこと</dd>
        </dl>
        <dl>
        <dt>第16条（管轄裁判所）</dt>
        <dd>本規約に関する準拠法は日本法とし、本規約に関して生じる一切の紛争については、東京簡易裁判所または東京地方裁判所を第一審の合意管轄裁判所とします。</dd>
        </dl>
        <div class="date_enactment">
            <p>【本規約の制定日】</p>
            <p>xxxx年xx月xx日</p>
        </div>
        
    </div>
</div>
</article>
<footer>
<section class="innr">



<nav class="clearfix">
<div>
<h4><p>■企業検索</p></h4>
<ul>
<li><a href="search.html">企業検索</a></li>
</ul>
</div>

<div>
<h4><p>■会員メニュー</p></h4>
<ul>
<li><a href="my_login2.html">スケジュール管理</a></li>
<li><a href="my_login2.html">連絡帳</a></li>
<li><a href="my_login2.html">ブックマーク</a></li>
<li><a href="my_login2.html">会員情報管理</a></li>
</ul>
</div>

<div>
<h4><p>■就活支援</p></h4>
<ul>
<li><a href="interview.html">就活スケジュール</a></li>
<li><a href="know.html">就活成功へのステップ</a></li>
</ul>
</div>

<div>
<h4><p>■ヘルプ</p></h4>
<ul>
<li><a href="guide.html">就職ナビ＋の使い方</a></li>
<li><a href="faq.html">FAQ</a></li>
</ul>
</div>

<div>
<h4><p>■お問い合わせ</p></h4>
<ul>
<li><a href="contact.html">お問い合わせ</a></li>
</ul>
</div>
</nav>
</section>


<section class="copyright down">

<nav class="clearfix down2">

<div>
<ul>
<li><a href="about.html">運営会社</a></li>
</ul>
</div>

<div>
<ul>
<li><a href="terms.html">利用規約</a></li>
</ul>
</div>

<div>
<ul>
<li><a href="privacy.html">プライバシーポリシー</a></li>
</ul>
</div>

<div>
<ul>
<li><a href="sitemap.html">サイトマップ</a></li>
</ul>
</div>

<div>
<ul>
<li><a href="#">企業の採用担当の方はこちら</a></li>
</ul>
</div>

</nav>


<div class="footerSp spOnly">
<p><a href="about.html">運営会社</a></p>
<p><a href="terms.html">利用規約</a></p>
<p><a href="privacy.html">プライバシーポリシー</a></p>
<p><a href="sitemap.html">サイトマップ</a></p>
<p><a href="#">企業担当者の方はこちら</a></p>
</div>


<p>©2016 就職ナビ＋</p>
</section>
</footer>
<div class="pagetop">
<a href="#wrapper"><img src="img/pc/search_list/top_back.png" alt="上へ戻る" width="64" height="64" /></a>
</div>
</div>
</body>
</html>