@charset "utf-8";
/* CSS Document */

/*------------------------
共通
---------------------------*/


.regist_title{
	width:980px;
	background-color:#554fb0;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}

.regist_title h2{
	color:#fff;
	font-size:26px;
	font-weight:bold;
	padding:23px 18px 19px 18px;
	margin-left:auto;
	margin-right:auto;
}

.hide{
	width:0px;
}

@media (max-width: 767px) { 

body{
	min-width:100%;
}


.regist_title{
	width:100%;
}

.regist_title h2{
	font-size:18px;
}

}

/*入力フォーム-------------*/


.form_flame{
	width:100%;
	height:auto;
	background-color:#fff;
	line-height:23px;
}

.input_box{
	width:980px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0px;
	font-size:16px;
	background-color:#fff;
}


.input_contents{
	height:auto;
	padding:30px 0px 30px 15px;
	clear:both;
	overflow: hidden;
}

.input_contents .contents_name_area{
	width:195px;
	float:left;
	margin-right:15px;
}

.input_contents .contents_name_area.low_2{
	height:80px;
}

.input_box strong{
	text-align:left;
	font-size:16px;
}

span.float{
	display:inline-block;
	width:51px;
	margin:0px;
	padding:0px 0px 0px 7px;
	white-space:normal;
}

span.float:after{
	content:":";
	text-align:right;
	width:auto;
	margin-left:5px;
}

span.float.job_business{
	width:90px;
}

.input_contents img.required{
	text-align:right;
	float:right;
	padding:5px 0px 5px 10px;
	vertical-align:baseline;
	vertical-align:middle;
	
}

.input_box input.input_text{
	font-size:15px;
	height:27px;
	margin:1px 8px;
}



.input_box select{
	font-size:15px;
	height:32px;
	width:200px;
	margin:3px 8px;

	
	/* border-radius */
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	
	/* border */
	border:1px solid #cccccc;
}

.input_box .input_button{
	padding:5px 25px 5px 25px;
	border:1px solid #cccccc;
	background-color:#eee;
	
	/* border-radius */
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}

.input_box .input_button.search{
	margin-left:15px;
}

.input_box .input_radio{
	margin:0px 5px 0px 10px;
}

.input_box .gray{
	background-color:#eee;
}

.input_contents.radio{
	padding-bottom:20px;
}

.input_box label{
	margin-right:25px;
}


input.width1{
	width:200px;
}

input.width2{
	width:520px;
}

input.width5{
	width:440px;
}

input.width6{
	width:97px;
}

input.width7{
	width:130px;
}

.red_text{
	color:#FF0004;
	font-size:14px;
	margin-left:21%;
}

.row2{
	padding-bottom:30px;
}

img.required.row3{
	padding-bottom:55px;
}

.radio_box{
	width:auto;
	height:auto;
	overflow: hidden;
}

li.radio_contents{
	float:left;
	white-space: nowrap;
}

.contents_anser_area.birthday select{
		width:50px;
	}

.contents_anser_area.birthday select.pulldown_year{
		width:80px;
	}
	
.contents_anser_area.conf{

}

@media (min-width: 768px) { 
.radio_box{
	float:left;
}
}

@media (max-width: 767px) { 

.my_input span.float:after{
	display:none;
}

.row2{
	padding-bottom:0px;
}


.radio_box{
	clear:both;
}

li.radio_contents{
	margin-right:3%;
	margin:0px 0px 15px 0px;
	float:none;
}

	
	.input_box strong{
		font-size:16px;
		margin-right:5px;
		color:#002e5b;
		font-weight:bold;
	}

span.float{
	float:left;
	width:100%;
	padding:0px 0px 0px 3px;
}
	
	.input_button{
		width:50%;
		height:40px;
		font-size:18px;
	}
	
	.input_box .input_button.search{
		width:90%;
		margin-left:0px;
		margin-top:10px;
		margin-bottom:10px;
		font-size:16px;
	}
	
	.input_contents{
		width:100%;
		padding-top:20px;
		padding-bottom:20px;
		padding-left:3.5%;
		padding-right:3.5%;
	}
	
	.input_contents p{
		margin-top:0px;
		margin-bottom:0px;
		font-size:14px;
	}
	
	.contents_anser_area{
		clear:both;
	}

	input.width1{
		width:90%;
	}
	
	input.width2{
		width:90%;
	}
	
	input.width5{
		width:90%;
	}
	
	input.width6{
		width:20%;
	}
	
	input.width7{
		width:30%;
	}
	
	.input_contents .contents_name_area{
		width:auto;
		clear:both;
	}
	
	.input_box label{
		margin:0px;
		padding:0px;
	}
	
	.input_contents.radio{
		height:auto;
	}


	.input_contents img.required{
		min-height:20px;
		min-width:40px;
		position:relative;
		bottom:5px;
	}

	.input_box{
		width:100%;
		height:auto;
	}
	
	.input_box input.input_text{
		height:30px;
		font-size:19px;
		margin-left:3px;
		margin-right:3px;
		margin-top:0px;
		margin-bottom:5px;
	}
	
	.input_box select{
		height:40px;
		width:230px;
	}
	
	.red_text{
		margin-left:0;
	}
	
	img.required.row3{
		padding-bottom:0px;
	}

}

@media (max-width: 400px) { 
/*画面幅の小さいデバイス対策*/
.radio_box{
	font-size:4.5vw;
}

}

/*同意ボタン-------------*/


@media (max-width: 767px) { 

.two_button{
		padding-left:5%;
		padding-right:5%;
		padding-bottom:5%;
		overflow: hidden;
		desplay:block;
	}

}

/*------------------------------------
登録情報確認ページ
------------------------------------*/

.conf_text{
	font-size:16px;
	margin-left:10px;
	margin-bottom:10px;
}

.anser_text{
	margin-right:40px;
	font-size:16px;
	font-weight:bold;
	min-width:170px;
	overflow: hidden;
	display:block;
	float:left;
}

.name{
	margin-left:20px;
}

.anser_tell{
	margin-right:20px;
	font-size:16px;
	font-weight:bold;
	display:block;
	float:left;
}

.hyphen{
	float:left;
	margin-right:20px;
	font-size:18px;
}

.conf span.float{
	width:45px;
	margin:0px;
	padding:0px;
	float:left;
}

.float.tell{
	clear:both;
	width:20px;
	margin:0px;
	padding:0px;
}

.contents_anser_area.tell{
	float:left;
	overflow:hidden;
}

.conf span.float.job{
	clear:both;
	width:80px;
	margin:0px;
	padding:0px;
}

.height_adjust{
	margin-top:8px;
}

@media (max-width: 350px) {

.fontsize_adjust{
	font-size:5vw;
}

.anser_tell{
	margin-right:2px;
}

.hyphen{
	margin-right:2px;
}

}

@media (max-width: 767px) {

.height_adjust{
	margin-top:0px;
}

.anser_text{
	margin-right:40px;
	font-size:16px;
	font-weight:bold;
	min-width:auto;
	overflow: hidden;
	display:block;
	float:left;
}

.name{
	margin:0;
}

.conf span.float{
	clear:both;
}

img.required.row3{
	display:none;
}

}


/*-----------------------------------------
会員情報管理
------------------------------------------*/

.form_flame.info{
	background-color:#E4E4E4;
	padding-bottom:30px;
}

.input_box.info{
	margin-top:0px;
}

/*-------------------------------------------
パスワード変更ページ
---------------------------------------------*/

.login_contents{
	max-width:980px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	border:none;
	margin-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	line-height:20px;
	background-color:#fff;
}

.setumei{
	font-size:16px;
	margin-bottom:50px;
	padding-left:20px;
	background-color:#fff;
	padding-top:15px;
}

.login_contents_box{
	height:auto;
}

.login_input_contents{
	clear:both;
	height:auto;
}

.login_contents input.text{
	padding-top:5px;
	padding-bottom:5px;
	width:320px;
}

.login_contents th{
	width:26%;
	padding-right:20px;
	text-align:right;
	font-weight:bold;
}

.login_contents th.id{
	padding-bottom:40px;
}

.red_text2{
	color:#FF0004;
	font-size:16px;
	margin-left:0;
}

@media screen and (max-width: 768px){



.setumei{
	margin-bottom:0px;
	padding-left:5px;
	padding-top:5px;
}

.login_title{
	width:100%;
}

.login_title h2{
	font-size:18px;
}

.login_contents{
	width:100%;
	display:block;
	float:left;
	padding:15px;
	padding-bottom:0px;
}

.login_input_contents input{
	width:98%;
	height:30px;
	font-size:19px;
	margin-left:3px;
	margin-right:3px;
	margin-top:5px;
	margin-bottom:20px;
}
.login_input_contents{
	width:100%;
	padding-top:15px;
	padding-bottom:10px;
	padding-left:3.5%;
	padding-right:0;
}

.login_input_contents strong{
	font-size:16px;
	margin-right:5px;
	color:#002e5b;
	font-weight:bold;
	margin-left:-10px;
}

.auto_login{
	width:95%;
	text-align:center;
	font-size:16px;
	margin-bottom:30px;
}

.auto_login input{
	-webkit-transform: scale(2);
	transform: scale(2);
}

}


.inquiry_contents{
	width:500px;
	height:55px;
	margin-left:auto;
	margin-right:auto;
}

p.inquiry_text{
	width:105px;
	float:left;
	height:auto;
	margin-right:20px;
	padding-top:5px;
	font-weight:bold;
	text-align:right;
}

.inquiry_contents input{
	float:left;
	height:auto;
}


.inquiry_contents_box{
	width:100%;
	height:auto;
	margin-bottom:25px;
}

@media screen and (max-width: 768px){
	
.inquiry_contents{
	width:100%;
	height:auto;
	padding-top:15px;
	padding-bottom:10px;
	padding-left:3.5%;
	padding-right:3.5%;
}
	
p.inquiry_text{
	height:auto;
	clear:both;
	margin:0px;
	width:100%;
	margin-right:5px;
	font-weight:bold;
	text-align:left;
	margin-left:-10px;
}
	
.inquiry_contents input.text{
	width:98%;
	height:30px;
	font-size:19px;
	margin-left:3px;
	margin-right:3px;
	margin-top:5px;
	margin-bottom:10px;
}

.inquiry_contents_box{
	width:100%;
	height:auto;
	float:left;
	margin-bottom:15px;
}

.comp_button{
	padding-left:5%;
	padding-right:5%;
	padding-bottom:5%;
}

}


