/*----------------------------
共通CSS
------------------------------*/
html{
     
}

body{
	width:100%;
	min-width:980px;
	max-height:0px;
	margin-right: auto;
	margin-left : auto;
	background-color:#fff;
}

.container{
	width:100%;
	padding-top:60px;
	background-color:#fff;
	height:auto;
	min-height:80vh;
}

.hide{
	width:0px;
	margin-bottom:20px;
}

@media (max-width: 767px) { 
	body{
		min-width:100%;
	}
}

/*--------------------------------
登録内容記入画面
---------------------------------*/

.regist_title{
	width:980px;
	background-color:#554fb0;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}

.regist_title h2{
	color:#fff;
	font-size:26px;
	font-weight:bold;
	padding:23px 18px 19px 18px;
	margin-left:auto;
	margin-right:auto;
}

@media screen and (max-width: 767px){
	

	
.container{
	padding-top:40px;
	padding-bottom:10px;
}

.regist_title{
	width:100%;
}

.regist_title h2{
	font-size:18px;
}

p.red_text{
	color:#FF0004;
}

}

/*---利用規約・プライバシーポリシー--------------------*/
.terms_title{
	font-size:20px;
	background-color:#fff;
	width:680px;
	margin-left:auto;
	margin-right:auto;
	color:#002e5b;
	font-weight:bold;
	clear:both;
}

.terms_box{
	width:680px;
	height:200px;
	background-color:#fff;
	overflow:hidden;
	padding:10px 0px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:35px;
	-moz-box-shadow:0px 2px 6px -2px #000000 inset;
	-webkit-box-shadow:0px 2px 6px -2px #000000 inset;
	box-shadow:0px 2px 6px -2px #000000 inset;
	border:none;
}

.terms_text{
	width:675px;
	height:190px;
	padding:5px 5px;
	background-color:#fff;
	overflow:auto;
	margin-left:auto;
	margin-right:auto;
	border:none;
}

@media (max-width: 767px) { 

.terms_title{
	font-size:14px;
	width:100%;
}

.terms_box{
	width:93%;
	margin-left:auto;
	margin-right:auto;
}

.terms_text{
	width:99%;
}

}

/*--------------------------------
登録内容確認
---------------------------------*/

.conf_text{
	font-size:16px;
    margin-left: 10px;

}


@media (max-width: 767px) { 

.conf_text{
	font-size:18px;
	margin-bottom:0px;
}

}

/*-----------------------------------
登録受付完了
------------------------------------*/


/*入力フォーム-------------*/
.form_flame{
	width:100%;
	height:auto;
	background-color:#fff;
	line-height:23px;
}

.input_box{
	width:980px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
	font-size:16px;
	background-color:#fff;
}


.input_contents{
	height:auto;
	padding:30px 0px 30px 15px;
	clear:both;
	overflow: hidden;
}

.input_contents .contents_name_area{
	width:225px;
	float:left;
	margin-right:15px;
}

.input_box strong{
	text-align:left;
	font-size:16px;
}

span.float{
	display:inline-block;
	width:51px;
	margin:0px;
	padding:0px 0px 10px 7px;
	white-space:normal;
}

span.float:after{
	content:":";
	text-align:right;
	width:auto;
	margin-left:5px;
}

span.float.job_business{
	width:90px;
}

.input_contents img.required{
	text-align:right;
	float:right;
	padding:5px 0px 5px 10px;
	vertical-align:baseline;
	vertical-align:middle;
}

.input_box input.input_text{
	font-size:15px;
	height:27px;
	margin:1px 8px;
}



.input_box select{
	font-size:15px;
	height:32px;
	width:200px;
	margin:3px 8px;

	
	/* border-radius */
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	
	/* border */
	border:1px solid #cccccc;
}

.input_box .input_button{
	padding:5px 25px 5px 25px;
	border:1px solid #cccccc;
	background-color:#eee;
	
	/* border-radius */
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}

.input_box .input_button.search{
	margin-left:15px;
}

.input_box .input_radio{
	margin:0px 5px 0px 10px;
}


.input_box .gray{
	background-color:#eee;
}

.input_contents.radio{
	padding-bottom:20px;
}

.input_box label{
	margin-right:25px;
}


input.width1{
	width:200px;
}

input.width2{
	width:520px;
}

input.width5{
	width:440px;
}

input.width6{
	width:97px;
}

input.width7{
	width:130px;
}

.row2{
	padding-bottom:30px;
}

img.required.row3{
	padding-bottom:55px;
}

.radio_box{
	width:auto;
	height:auto;
	overflow: hidden;
}

li.radio_contents{
	float:left;
	white-space: nowrap;
}

.contents_anser_area.birthday select{
		width:50px;
	}

.contents_anser_area.birthday select.pulldown_year{
		width:80px;
	}
	
.input_contents.under{
	overflow: hidden;
	desplay:block;
	margin-bottom:20px;
}

.red_text{
	color:#FF0004;
	font-size:12px;
	margin-left:21%;
}
.height_adjust{
	margin-top:8px;
}

@media (min-width: 768px) { 
.radio_box{
	float:left;
}
}

@media (max-width: 767px) { 

	.row2{
		padding-bottom:0px;
	}
	
	
	.radio_box{
		clear:both;
	}
	
	li.radio_contents{
		margin-right:3%;
		margin:0px 0px 15px 0px;
		float:none;
	}

	.form_flame{
	background-color:#fff;
	}
	
	.input_box strong{
		font-size:16px;
		margin-right:5px;
		color:#002e5b;
		font-weight:bold;
	}

	
	.input_button{
		width:50%;
		height:40px;
		font-size:18px;
	}
	
	.input_box .input_button.search{
		width:90%;
		margin-left:0px;
		margin-top:10px;
		margin-bottom:10px;
		font-size:16px;
	}
	
	.input_contents{
		width:100%;
		padding-top:20px;
		padding-bottom:20px;
		padding-left:5%;
		padding-right:5%;
	}
	
	.input_contents p{
		margin-top:0px;
		margin-bottom:0px;
		font-size:14px;
	}
	
	.contents_anser_area{
		clear:both;
	}
	
	input.width1{
		width:90%;
	}
	
	input.width2{
		width:90%;
	}
	
	input.width5{
		width:90%;
	}
	
	input.width6{
		width:20%;
	}
	
	input.width7{
		width:30%;
	}
	
	.input_contents .contents_name_area{
		width:auto;
		clear:both;
	}
	
	.input_box label{
		margin:0px;
		padding:0px;
	}
	

.input_contents.radio{
	height:auto;
}

	.input_contents img.required{

		min-height:20px;
		min-width:40px;
		position:relative;
		bottom:5px;
	}

	.input_box{
		width:100%;
		height:auto;
	}
	
	.input_box input.input_text{
		height:30px;
		font-size:19px;
		margin-left:3px;
		margin-right:3px;
		margin-top:0px;
		margin-bottom:5px;
	}
	
	.input_box select{
		height:40px;
		width:230px;
	}

	.red_text{
		margin-left:0;
		clear:both;
	}
	
	img.required.row3{
		padding-bottom:0px;
	}
	
	.two_button{
		padding-left:5%;
		padding-right:5%;
		padding-bottom:5%;
		overflow: hidden;
		desplay:block;
	}
	
	span.float{
		float:left;
		width:100%;
		padding:0px 0px 0px 3px;
	}
	
	.my_input span.float:after{
		display:none;
	}
	
	.height_adjust{
	margin-top:0px;
}
}

@media (max-width: 400px) { 
/*画面幅の小さいデバイス対策*/
.radio_box{
	font-size:4.5vw;
}

}


/*------------------------------------
登録情報確認ページ
------------------------------------*/

.conf_text{
	font-size:16px;
	margin-left:10px;
}

.anser_text{
	margin-right:40px;
	font-size:16px;
	font-weight:bold;
	min-width:170px;
	overflow: hidden;
	display:block;
	float:left;
}

.name{
	margin-left:20px;
}

.anser_tell{
	margin-right:20px;
	font-size:16px;
	font-weight:bold;
	display:block;
	float:left;
}

.hyphen{
	float:left;
	margin-right:20px;
	font-size:18px;
}

.conf span.float{
	width:45px;
	margin:0px;
	padding:0px;
	float:left;
}

.float.tell{
	clear:both;
	width:20px;
	margin:0px;
	padding:0px;
}

.contents_anser_area.tell{
	float:left;
	overflow:hidden;
}

.conf span.float.job{
	clear:both;
	width:80px;
	margin:0px;
	padding:0px;
}

.height_adjust{
	margin-top:8px;
}

@media (max-width: 350px) {

.fontsize_adjust{
	font-size:5vw;
}

.anser_tell{
	margin-right:2px;
}

.hyphen{
	margin-right:2px;
}

}

@media (max-width: 767px) {

.height_adjust{
	margin-top:0px;
}

.anser_text{
	margin-right:40px;
	font-size:16px;
	font-weight:bold;
	min-width:auto;
	overflow: hidden;
	display:block;
	float:left;
}

.name{
	margin:0;
}

.conf span.float{
	clear:both;
}



}


